
<body>
  <div class="container">
  
      <div class="row align-items-center justify-content-center vh-100">
          <div class="col-6">
              <mat-card class="mt-2">
                <mat-card-header>
                  <div class="row">
                    <div class="text-center ml-4">
                      <mat-card-title>INICIO DE SESIÓN</mat-card-title>
                    </div>
                    <div class="text-center ml-4">
                      <mat-card-subtitle
                        >Ingrese sesión para continuar</mat-card-subtitle
                      >
                    </div>
                  </div>
                </mat-card-header>
          
                <mat-card-content>
                  <mat-form-field class="example-full-width">
                    <mat-label class="col-12">Usuario</mat-label>
                    <input type="email" matInput placeholder="Usuario" [(ngModel)]="login" />
                  </mat-form-field>
                  <mat-form-field class="col-12">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput placeholder="Contraseña" [(ngModel)]="password"/>
                  </mat-form-field>
          
                  <div class="row">
                    <div class="col text-center">
                      <button mat-raised-button (click)="auth()">Ingresar</button>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
           
      </div>
      
    </div>
</body>
