<ng-template #contenido let-modal>
  <div class="modal-header">
    <p class="fw-bolder fs-5" style="margin: 0px;">{{accion}}</p>
  </div>
  <div class="modal-body">
    <form [formGroup]="formCurso" (ngSubmit)="guardar()">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="">Nombre de Curso</label>
            <input [(ngModel)]="curso.cur_descripcion" type="text" formControlName="descripcion" class="form-control">
            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
              <span class="form-text text-danger" *ngIf="descripcion.errors.required">Nombre requerido</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="abreviatura">Abreviatura</label>
          <input [(ngModel)]="curso.cur_abreviatura" type="text" formControlName="abreviatura" class="form-control">
          <div *ngIf="abreviatura.invalid && (abreviatura.dirty || abreviatura.touched)">
            <span class="form-text text-danger" *ngIf="abreviatura.errors.required">Abreviatura requerido</span>
            <span class="form-text text-danger" *ngIf="abreviatura.errors.maxlength">Maximo 2 letras</span>
          </div>
        </div>
        <div class="col-8">
          <label for="nivel">Nivel</label>
          <select [(ngModel)]="curso.niv_cod" class="form-control form-control" formControlName="nivel">
            <option [value]="nivel.niv_cod" *ngFor="let nivel of niveles">{{nivel.niv_descripcion}}</option>
          </select>
          <div *ngIf="nivel.invalid && (nivel.dirty || nivel.touched)">
            <span class="form-text text-danger" *ngIf="nivel.errors.required">Escoja un nivel</span>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" [disabled]="!formCurso.valid"><i class="far fa-save"></i> Guardar</button>
        <button class="btn btn-danger" (click)="cerrar()"><i class="far fa-times-circle"></i> Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>

<div class="card">
  <div class="card-header">LISTA DE CURSOS</div>
  <div class="card-body">
    <div class="row mb-1">
      <div class="col d-flex">
        <button type="button" class="btn btn-primary btn-sm ml-auto" (click)="opensave(contenido)">
          <i class="fas fa-plus-square"></i>
        </button>
        <button type="button" class="btn btn-warning btn-sm" (click)="openedit(contenido)" >
          <i class="fas fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" (click)="eliminar()">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
      <ag-grid-angular
          #agGrid
          style="width: 100%px; height: 500px;"
          class="ag-theme-alpine"
          [rowData]="rowData"
          [defaultColDef]="defaultColDef"
          [columnDefs]="columnDefs"
          [autoGroupColumnDef]="autoGroupColumnDef"
          (gridReady)="onGridReady($event)"
          rowSelection="single"
      >
      </ag-grid-angular>
  </div>
</div>
