<ng-template #contenido let-modal>
  <div class="modal-header">
    <p class="fw-bolder fs-5" style="margin: 0px;">Ficha de Alumno</p>
    <p class="fw-bolder fs-5" style="margin: 0px;">{{accion}}</p>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="guardar()" [formGroup]="formAlumno" autocomplete="off">
      <div class="row">
        <div class="card" style="width: 100%">
          <div class="card-header">Datos Personales</div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="">Código Modular</label>
                  <input [(ngModel)]="alumno.alu_codigomod" type="text" class="form-control form-control-sm"
                    formControlName="codModular" />
                  <div *ngIf="codModular.invalid && (codModular.dirty || codModular.touched)">
                    <span class="form-text text-danger" *ngIf="codModular.errors.required">Código requerido</span>
                    <span class="form-text text-danger" *ngIf="codModular.errors.maxlength">Maximo 3 numeros</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="">DNI</label>
                  <input [(ngModel)]="alumno.alu_dni" type="text" class="form-control form-control-sm"
                    formControlName="dni" />
                  <div *ngIf="dni.invalid && (dni.dirty || dni.touched)">
                    <span class="form-text text-danger" *ngIf="dni.errors.required">Ingrese DNI</span>
                    <span class="form-text text-danger" *ngIf="dni.errors.maxlength || dni.errors.minlength">Son ocho
                      dígitos</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="">Nro Matricula</label>
                  <input type="text" class="form-control form-control-sm" formControlName="nroMatricula" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div class="form-group">
                  <label for="">Apellido Paterno</label>
                  <input [(ngModel)]="alumno.alu_apellidop" type="text" class="form-control form-control-sm"
                    formControlName="apPaterno" />
                  <div *ngIf="apPaterno.invalid && (apPaterno.dirty || apPaterno.touched)">
                    <span class="form-text text-danger" *ngIf="apPaterno.errors.required">Ingrese Apellido
                      Paterno</span>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="">Apellido Materno</label>
                  <input [(ngModel)]="alumno.alu_apellidom" type="text" class="form-control form-control-sm"
                    formControlName="apMaterno" />
                  <div *ngIf="apMaterno.invalid && (apMaterno.dirty || apMaterno.touched)">
                    <span class="form-text text-danger" *ngIf="apMaterno.errors.required">Ingrese Apellido
                      Materno</span>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="">Nombres</label>
                  <input [(ngModel)]="alumno.alu_nombres" type="text" class="form-control form-control-sm"
                    formControlName="nombres" />
                  <div *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
                    <span class="form-text text-danger" *ngIf="nombres.errors.required">Ingrese nombres</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <div class="form-group">
                  <label for="">Sexo</label>
                  <select [(ngModel)]="alumno.alu_sexo" class="form-control form-control-sm" formControlName="sexo">
                    <option value="F">FEMENINO</option>
                    <option value="M">MASCULINO</option>
                  </select>
                  <div *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)">
                    <span class="form-text text-danger" *ngIf="sexo.errors.required">Elija un sexo</span>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="">Fecha de Nac.</label>
                  <input [(ngModel)]="alumno.alu_fechanac" type="date" class="form-control form-control-sm"
                    formControlName="fechaNacimiento" />
                  <div *ngIf="fechaNacimiento.invalid && (fechaNacimiento.dirty || fechaNacimiento.touched)">
                    <span class="form-text text-danger" *ngIf="fechaNacimiento.errors.required">Selecciona una
                      fecha</span>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="">País</label>
                  <select [(ngModel)]="alumno.alu_pais" class="form-control form-control-sm" formControlName="pais">
                    <option value="PERÚ">PERÚ</option>
                    <option value="CHILE">CHILE</option>
                  </select>
                  <div *ngIf="pais.invalid && (pais.dirty || pais.touched)">
                    <span class="form-text text-danger" *ngIf="pais.errors.required">Selecciona un país</span>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label for="">Escala</label>
                  <select [(ngModel)]="alumno.alu_escala" class="form-control form-control-sm" formControlName="escala">
                    <option [value]="esc" *ngFor="let esc of escalaArray">{{esc}}</option>
                  </select>
                  <div *ngIf="escala.invalid && (escala.dirty || escala.touched)">
                    <span class="form-text text-danger" *ngIf="escala.errors.required">Ingrese escala</span>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label for="">Año Ingreso</label>
                  <input [(ngModel)]="alumno.alu_anioingreso" type="text" class="form-control form-control-sm"
                    formControlName="añoIngreso" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="">Departamento</label>
                  <select [(ngModel)]="alumno.department_id" class="form-control form-control-sm"
                    formControlName="depAlumno" (change)="departamentoD()">
                    <option [value]="departamento.id" *ngFor="let departamento of departamentos">{{departamento.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="">Provincia</label>
                  <select [(ngModel)]="alumno.province_id" class="form-control form-control-sm"
                    formControlName="provAlumno" (change)="provinciaD()">
                    <option [value]="provincia.id" *ngFor="let provincia of provincias">{{provincia.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="">Distrito</label>
                  <select [(ngModel)]="alumno.district_id" class="form-control form-control-sm"
                    formControlName="distAlumno">
                    <option [value]="distrito.id" *ngFor="let distrito of distritos">{{distrito.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="">Lengua Materna</label>
                  <select [(ngModel)]="alumno.alu_lenguamat" class="form-control form-control-sm"
                    formControlName="lenguaMaterna">
                    <option value="CASTELLANO">CASTELLANO</option>
                    <option value="QUECHUA">QUECHUA</option>
                    <option value="AYMARA">AYMARA</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="">Estado Civil</label>
                  <select [(ngModel)]="alumno.alu_estadocivil" class="form-control form-control-sm"
                    formControlName="estadoCivil">
                    <option value="S">SOLTERO</option>
                    <option value="C">CASADO</option>
                    <option value="V">CONVIVIENTE</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="">Religión</label>
                  <select [(ngModel)]="alumno.alu_religion" class="form-control form-control-sm"
                    formControlName="religion">
                    <option value="CATÓLICO">CATÓLICO</option>
                    <option value="EVANGELICO">EVANGELICO</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="">Fecha de Bautizo</label>
                  <input [(ngModel)]="alumno.alu_fechabautizo" type="date" class="form-control form-control-sm"
                    formControlName="fechaBautizo" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="">Parroquia de Bautizo</label>
                  <input [(ngModel)]="alumno.alu_parroquiab" type="text" class="form-control form-control-sm"
                    formControlName="parroquia" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="">Colegio Procedencia</label>
                  <input [(ngModel)]="alumno.alu_colprocedencia" type="text" class="form-control form-control-sm"
                    formControlName="colegioProc" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card" style="width: 100%">
          <div class="card-header">Datos de Domicilio</div>
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <div class="form-group">
                  <label for="">Dirección</label>
                  <input [(ngModel)]="adomicilio.ald_direccion" type="text" class="form-control form-control-sm"
                    formControlName="direccion" />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label for="">Telefono</label>
                  <input [(ngModel)]="adomicilio.ald_telefono" type="text" class="form-control form-control-sm"
                    formControlName="telefono" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="">Departamento</label>
                  <select [(ngModel)]="adomicilio.department_id" class="form-control form-control-sm"
                    formControlName="depDomicilio" (change)="departamentoDom()">
                    <option [value]="departDomicilio.id" *ngFor="let departDomicilio of departsDomicilio">
                      {{departDomicilio.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="">Provincia</label>
                  <select [(ngModel)]="adomicilio.province_id" class="form-control form-control-sm"
                    formControlName="provDomicilio" (change)="provinciaDom()">
                    <option [value]="provinDomicilio.id" *ngFor="let provinDomicilio of provinsDomicilio">{{provinDomicilio.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="">Distrito</label>
                  <select [(ngModel)]="adomicilio.district_id" class="form-control form-control-sm"
                    formControlName="distDomicilio">
                    <option [value]="distriDomicilio.id" *ngFor="let distriDomicilio of distrisDomicilio">{{distriDomicilio.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
      </div>
    </form>
  </div>
</ng-template>

<div class="card">
  <div class="card-header">LISTA DE ALUMNOS</div>
  <div class="card-body">
    <div class="row mb-1">
      <div class="col d-flex">
        <button type="button" class="btn btn-primary btn-sm ml-auto" (click)="opensave(contenido)">
          <i class="fas fa-plus-square"></i>
        </button>
        <button type="button" class="btn btn-warning btn-sm" (click)="openedit(contenido)">
          <i class="fas fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" (click)="eliminar()">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
    <div id="myGrid" class="ag-theme-alpine" style="width: 100%; height: 100%">
      <ag-grid-angular #agGrid style="width: 100%px; height: 500px" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" rowSelection="single"
        (gridReady)="OnGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>